<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpotifyLite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/login.css">
  </head>
  <body>
    <button type="button" id="btn-allSongs" onclick="redirectToAllSongs()">View all songs</button>
    <section class="h-100 gradient-form">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="https://www.citypng.com/public/uploads/preview/transparent-hd-spotify-red-text-logo-11661569773ojha9hoyq7.png"
                        style="width: 285px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Welcome to Spotify</h4>
                    </div>
    
                    <form action="/login" method="post">
                      <p>Please login to your account</p>
    
                      <div class="form-outline mb-4">
                        <input type="email" name="email" id="form2Example11" class="form-control"
                          placeholder="Email address" />
                        <!-- <label class="form-label" for="form2Example11">Username</label> -->
                        <br>
                      </div>
    
                      <div class="form-outline mb-4">
                        <input type="password" name="password" id="form2Example22" class="form-control" placeholder="Password"/>
                        <!-- <label class="form-label" for="form2Example22">Password</label> -->
                        <br>
                      </div>
    
                      <div class="text-center pt-1 mb-5 pb-1">
                        <!-- <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                          in</button> -->
                        <input type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" value="Log in">
                        <br>
                      </div>
    
                      <div>
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <!-- <button type="button" id="btn-createNew" onclick={submit}><a href="/allSongs" class="href">Create new</a></button> -->
                        <button type="button" id="btn-createNew" onclick="redirectToSignup()">Create new</button>
                        <!-- <button type="button" id="sendPost">Send post</button> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function redirectToSignup() {
        window.location = "./signup";
      }
      function redirectToAllSongs() {
        window.location = "./allSongs";
      }

      const btn = document.getElementById('sendPost');
      btn.addEventListener('click', function() {
        fetch("http://localhost:3001/user/hello", {
          // Adding method type
          method: "POST",
            
          // Adding body or contents to send
          body: JSON.stringify({ //username and email would go here
              title: "foo",
              body: "bar",
              userId: 1
          }),
            
          // Adding headers to the request
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
        })   
        // Response obj has many things: e.g. error code, the json content, etc.
        // We only care about the json content in this example
        .then(response => response.json())
          
        // Displaying results to console
        .then(json => alert(json));
      });
    </script>
  </body>
</html>