hr.solid {
  border-top: 3px solid #bbb;
}

li {
  list-style: none;
}

[id^=like-button] {
  /* background-color: #1DB954; */
  background-color: #d8363a;
  color: white;
  border-radius: 6px;
}

[id^=btn] {
  margin: 2rem;
}