body {
  background-color: #eee;
}

.container {
  margin-left: 60rem;
  margin-top: 5rem;
}

.gradient-custom-2 {
 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

#btn-createNew {
  border-radius: 3px;
  border-width: 1px;
}

#btn-createNew:hover {
  border-radius: 3px;
  border-width: 1px;
  color: white;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}